@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

@media (min-width: 1200px) {
  .gallery-3-cols {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-geist;
}
.smoke-1 {
  animation: shift 5s linear 0.5s infinite;
  opacity: 0;
}
.smoke-2 {
  animation: shift-2 4s linear 0.6s infinite;
  opacity: 0;
}
.smoke-3 {
  animation: shift-3 5s linear 1.2s infinite;
  opacity: 0;
}
@keyframes shift {
  0% {
    transform: translate(10px, 155%);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(10px, 0%);
    opacity: 0;
  }
}
@keyframes shift-2 {
  0% {
    transform: translate(0, 155%);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes shift-3 {
  0% {
    opacity: 1;
    transform: translate(-10px, 80px);
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(-10px, 0);
    opacity: 0;
  }
}
.smokes {
  transform: translateX(20px);
}
